{%extends 'app/template.html'%}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<form action="{{ruta}}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% if ruta %}
        <input type="hidden" id="id_idPast" value="{{ idPast }}" name="idPast">         
    {% endif %}     
    {% buttons %}
    <button type="submit" class="btn btn-primary" >
        {% if ruta %}
            Editar
        {% else %}
            Guardar
        {% endif %}        
    </button>
    {% endbuttons %}
</form>

{% url 'home' as home %}
<a href="{{ home }}">Volver</a>
{% endblock %}