{%extends 'app/template.html'%}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<form action="/eliminar" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
     <button type="submit" class="btn btn-danger" >
        Eliminar
    </button>
    {% endbuttons %}
</form>

{% url 'home' as home %}
<a href="{{ home }}">Volver</a>
{% endblock %}