{%extends 'app/template.html'%}
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<a href="{% url 'formBuscar'  %}">Buscar una persona</a>
<br />
<a href="{% url 'formEliminar'  %}">Eliminar una persona</a>

<script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = /buscar/{{idBuscar}}";
    };
</script>
<table class="table table-responsive table-hover">
    <thead class="thead-inverse">
        <th>ID</th>
        <th>Nombre</th>
        <th>Profesion</th>
        <th>Fecha Nacimiento</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        {% for persona in lista %}
            <tr>
                <td>{{persona.id}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.profesion}}</td>
                <td>{{persona.fecha}}</td>
                <td><a href="{% url 'buscarPersona' persona.id %}">Editar</a></td> 
            </tr>             
        {% endfor %}               
    </tbody>
</table>
<ul>
    
</ul>
{% url 'agregarPersona' as agregarPersona %}
<a href="{{ agregarPersona }}">Agregar una nueva persona</a>
{% endblock %}
