﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Django Application</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>   
    <div class="container body-content card" style="width:60%; margin:0 auto; border:solid black">
        <div class="card-body">
            <h2 class="card-title">{{title}}</h2>
            <p class="card-text">
                {% block content %}{% endblock %}
            </p>
        </div>
        <hr/>
        <footer>
            <p>&copy; {{ year }} - Cliente SOAP Django</p>
        </footer>
    </div>

{% block scripts %}{% endblock %}

</body>
</html>
